<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>creer un employee</title>
    <link rel="stylesheet" th:href="@{/styles/form.css}" />
</head>
<body>
<form action="#" th:action="@{/save-employee}" th:object="${createEmployee}" method="post" enctype="multipart/form-data">
    <table>
        <tr th:id="basic">
            <td><label/>firstName</td>
            <td><input type="text" th:field="*{firstName}" /></td>
            <td><label />lastName</td>
            <td><input type="text" th:field="*{lastName}" /></td>
            <td><label/>Birth Date</td>
            <td><input type="date" th:field="*{birthDate}"/></td>
            <td><label/>Sex</td>
            <td>
                <select th:field="*{sex}">
                    <option th:value="M" th:text="Male"></option>
                    <option th:value="M" th:text="Female"></option>
                </select>
            </td>
            <td><label/>Telephone</td>
            <td><input type="text" th:field="*{phone}"></td>
        </tr>
        <tr th:id="cin">
            <td><label/>CIN</td>
            <td><input type="text" th:field="*{cinNumber}"/></td>
            <td><label/>Delivery date</td>
            <td><input type="date" th:field="*{cinDateDelivery}"></td>
            <td><label/>Place delivery</td>
            <td><input type="text" th:field="*{cinPlaceDelivery}"></td>
        </tr>
        <tr th:id="children">
            <td><label/>Children number</td>
            <td><input type="number" th:field="*{numberOfChildren}"/></td>
        </tr>
        <tr th:id="address">
            <td><label/>Number of house</td>
            <td><input type="text" th:field="*{houseNumber}"/></td>
            <td><label/>Street</td>
            <td><input type="text" th:field="*{streetName}"/></td>
            <td><label/>District</td>
            <td><input type="text" th:field="*{district}"/></td>
            <td><label/>City</td>
            <td><input type="text" th:field="*{city}"/></td>
            <td><label/>Postal Code</td>
            <td><input type="text" th:field="*{postalCode}"/></td>
            <td><label/>Region</td>
            <td><input type="text" th:field="*{region}"/></td>
            <td><label/>Country</td>
            <td><input type="text" th:field="*{country}"/></td>
        </tr>
        <tr th:id="info">
            <td><label/>Function</td>
            <td><input type="text" th:field="*{function}"/></td>
            <td><label/>Arrive Date</td>
            <td><input type="date" th:field="*{arriveDate}"></td>
            <td><label/>Depart Date</td>
            <td><input type="date" th:field="*{departDate}"/></td>
            <td>Categori socio-professionnelle</td>
            <td>
                <select th:field="*{categorieSocioProfessionnelle}">
                    <option th:value="manager" th:text="manager"></option>
                    <option th:value="employe" th:text="employe"></option>
                    <option th:value="worker" th:text="worker"></option>
                    <option th:value="technician" th:text="technician"></option>
                    <option th:value="unskilled" th:text="unskilled"></option>
                </select>
            </td>
        </tr>
        <tr th:id="email">
            <td><label/>email Pro</td>
            <td><input type="text" th:field="*{emailPro}"/></td>
            <td><label/>email Perso</td>
            <td><input type="text" th:field="*{emailPerso}"/></td>
        </tr>
        <tr>
            <td><label for="photoFile">Profile Picture:</label></td>
            <td><input type="file" id="photoFile" name="photoFile" accept="image/*" /></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit" /></td>
        </tr>
    </table>
    <a href="/employees" class="btn btn-primary">Liste des employee</a>
</form>
</body>
</html>