<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Employee</title>
</head>
<body>
<h4>Liste des employee</h4>
<form th:action="@{/employees}" method="get">
    <label for="firstName">Fist Name</label>
    <input type="text" id="firstName" name="firstName" />

    <label for="lastName">Last Name:</label>
    <input type="text" id="lastName" name="lastName" />

    <label for="sex">Sex:</label>
    <select id="sex" name="sex">
        <option value="">-- Tous --</option>
        <option value="M">M</option>
        <option value="F">F</option>
    </select>

    <label for="function">Function:</label>
    <input type="text" id="function" name="function" />

    <label for="arriveDate">Date d'embauche:</label>
    <input type="date" id="arriveDate" name="arriveDate" />

    <label for="departDate">Date de départ :</label>
    <input type="date" id="departDate" name="departDate" />

    <button type="submit">Filter</button>
</form>
<table>
    <thead>
    <tr>
        <th>Matricule</th>
        <th>Nom</th>
        <th>Prenoms</th>
        <th>Date de naissance</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="employee:${employees}">
        <td><a th:href="@{/employee/{id}(id=${employee.id})}"><span th:text="${employee.matricule}" /></a></td>
        <td th:text="${employee.firstName}" />
        <td th:text="${employee.lastName}" />
        <td th:text="${employee.birthDate}"/>
        <td th:text="${employee.sex}"/>
        <td th:text="${employee.function}" />
    </tr>
    </tbody>
</table>
<a href="/save-employee" class="btn btn-primary">Créer un employé</a>
</body>
</html>