<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Employee</title>
</head>
<body>
<form action="#" th:action="@{'/employee/'+${id}+'/edit'}" th:object="${updateEmployee}" method="post"
      enctype="multipart/form-data">
    <table>
        <tr>
            <td><label/>firstName</td>
            <td><input type="text" th:field="*{firstName}"/></td>
        </tr>
        <tr>
            <td><label/>lastName</td>
            <td><input type="text" th:field="*{lastName}"/></td>
        </tr>
        <tr>
            <td><label/>Birth Date</td>
            <td><input type="date" th:field="*{birthDate}"/></td>
        </tr>
        <tr>
            <td><label/>Sex</td>
            <td>
                <select th:field="*{sex}">
                    <option th:value="M" th:text="Male"></option>
                    <option th:value="M" th:text="Female"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label/>Children number</td>
            <td><input type="number" th:field="*{numberOfChildren}"/></td>
        </tr>
        <tr>
            <td><label/>Arrive Date</td>
            <td><input type="date" th:field="*{arriveDate}"></td>
        </tr>
        <tr>
            <td><label/>Depart Date</td>
            <td><input type="date" th:field="*{departDate}"/></td>
        </tr>
        <tr>
            <td><label/>function</td>
            <td><input type="text" th:field="*{function}"/></td>
        </tr>
        <tr>
            <td><label/>cnaps</td>
            <td><input type="text" th:field="*{cnaps}"/></td>
        </tr>
        <tr>
            <td><label/>Adresse</td>
            <td><input type="text" th:field="*{address.houseNumber}"/></td>
            <td><input type="text" th:field="*{address.streetName}"/></td>
            <td><input type="text" th:field="*{address.region}"/></td>
            <td><input type="text" th:field="*{address.postalCode}"/></td>
            <td><input type="text" th:field="*{address.city}"/></td>
            <td><input type="text" th:field="*{address.country}"/></td>
        </tr>
        <tr>
            <td><label/>CIN</td>
            <td><label/>number<input type="text" th:field="*{cin.cinNumber}"/></td>
            <td><label/>date<input type="date" th:field="*{cin.dateDelivery}"/></td>
            <td><label/>place<input type="text" th:field="*{cin.placeDelivery}"/></td>
        </tr>
        <tr>
            <td><label/>Email</td>
            <p>Perso</p>
            <td><label>perso<label/><input type="text" th:field="*{email.emailPerso}"/></td>
            <td><p>Pro</p><input type="text" th:field="*{email.emailPro}"/></td>
        </tr>
        <tr>
            <td><label for="photoFile">Profile Picture:</label></td>
            <td><input type="file" id="photoFile" name="photoFile" accept="image/*"/></td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
    <a href="/employees" class="btn btn-primary">Liste des employee</a>
</form>
</body>
</html>